$f-titulos: 'IBM Plex Sans', sans-serif;
$f-botones: 'IBM Plex Mono', monospace;
$f-textos: 'IBM Plex Mono', monospace;
$f-iconos: 'IBM Plex Sans', sans-serif;

$size-titulos: 36px;
$size-botones: 16px;
$size-textos: 14px;
$size-iconos: 22px;

$size-titulosd: 64px;
$size-titulos2d: 48px;
$size-botonesd: 18px;
$size-textosd: 16px;
$size-iconosd: 24px;

$line-titulos: 42px;
$line-botones: 22px;
$line-textos: 22px;
$line-iconos: 32px;

$line-titulosd: 84px;
$line-titulos2d: 62px;
$line-botonesd: 24px;
$line-textosd: 24px; 
$line-iconosd: 32px;

$bg-botones: #00F3BB;
$bg-botonesh: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$bg-gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$bg-menu: #0000EC;
 

$color1: #060A24;
$color2: #FFF;
$color3: rgba($color1, 0.56);